@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

@font-face {
  font-family: "retro";
  src: url("../../src/assets/fonts/retro.TTF");
}

@font-face {
  font-family: "pixel";
  src: url("../../src/assets/fonts/pixel.ttf");
}

// @font-face {
//   font-family: "Mouse Memoirs";
//   src: url();
// }

* {
  font-family: "Mouse Memoirs", sans-serif;
}
