.CookieCatchContainer {
  background-color: pink;
  width: 100vw;
  height: 100vh;
  overflow: none;
  user-select: none;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  &__canvas {
    position: fixed;
    color: white;
    width: 75px;
    height: 100%;
  }
  &__e {
    position: relative;
    height: 75px;
    width: 75px;
    &:hover {
      cursor: pointer;
    }
  }
  &__text {
    margin: 0;
    font-size: 3rem;
    margin-top: 1%;
  }
  &__image {
    margin: 0;
    width: 5%;
    cursor: pointer;
  }
  &__pointsAlert {
    display: inline-block;
    z-index: 100;
    font-size: 7rem;
  }
}
