.CookieMarquee {
  background-color: #ffdac1;
  width: 100%;
  height: 100vh;
  overflow: none;

  &__stats-score {
    margin: 0;
  }

  &__scrollContainer {
    // border: 3px solid black;
    // border-radius: 5px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__image {
    width: 100px;
    cursor: pointer;
  }

  &__scrollText-ltr {
    display: flex;
    justify-content: space-around;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: my-animation-ltr 7s linear infinite;
    -webkit-animation: my-animation-ltr 7s linear infinite;
    animation: my-animation-ltr 15s linear infinite forwards;
  }

  &__scrollText-rtl {
    display: flex;
    justify-content: space-around;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: my-animation-rtl 7s linear infinite;
    -webkit-animation: my-animation-rtl 7s linear infinite;
    animation: my-animation-rtl 15s linear infinite;
  }

  @keyframes my-animation-ltr {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  @keyframes my-animation-rtl {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }
}
